---
const { name, abbr, url } = Astro.props;
const domain = new URL(url).hostname;
const iconUrl = `https://www.google.com/s2/favicons?domain=${domain}&sz=16`;
---

<div class="mb-3 mr-3">
  <a
    class="block w-full text-left cursor-pointer transition-all h-15 rounded-md font-semibold
    dark:text-white dark:bg-black/40 dark:hover:bg-black/80
    text-black bg-white/60 hover:bg-white/80"
    href={url}
    target="_blank">
    <div class="flex">
      <div
        class="flex-shrink-0 flex items-center justify-center w-11
        dark:bg-black/80 bg-white/30
        dark:text-white text-black
          text-sm font-extrabold rounded-l-md">
        <img
          alt={abbr}
          src={iconUrl}
          decoding="async"
          loading="lazy"
          style="color: transparent; width: 16px; height: 16px; object-fit: contain; max-height: 100%; max-width: 100%;"
        />
      </div>
      <div class="flex-1 flex items-center justify-between rounded-r-md">
        <div class="flex-1 grow pl-3 py-2 text-sm">
          {name}
        </div>
        <div
          class="px-2 py-2 truncate dark:text-white/80 text-black/80 text-xs">
          {domain}
        </div>
      </div>
    </div>
  </a>
</div>
