---
const { lanUrl } = Astro.props;
const sha = import.meta.env.GITHUB_SHA;
const repo = import.meta.env.GITHUB_REPOSITORY;
const ref = import.meta.env.GITHUB_REF_NAME;
const url = `https://github.com/${repo}`;
const domain = new URL(lanUrl).hostname;
---

<div id="footer" class="grid grid-cols-2 w-full mt-auto p-8">
  <div class="flex mt-4 justify-start">
    <a
      href={lanUrl}
      target="_blank"
      class="ml-2 text-xs text-slate-400 dark:text-slate-400 flex flex-row items-center"
      >{domain}</a
    >
  </div>
  <div class="flex mt-4 w-full justify-end">
    <a
      href={url}
      target="_blank"
      class="ml-2 text-xs text-slate-400 dark:text-slate-400 flex flex-row items-center"
      >{repo}/{ref} {sha}</a
    >
  </div>
</div>
